@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  display: grid;
  place-items: center;
  margin: 1rem 0;
}

.App h2 {
  margin-bottom: 16px;
}

li {
  list-style: none;
}

.movie-list {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.movie {
  padding: 24px 28px;
  border-radius: 8px;
  background-color: #fff;
  border: solid 2px #d0d0d0;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.movie:not(:last-child) {
  margin-bottom: 14px;
}

.dragging {
  background: #f7f6f2;
}

.dragging-over {
  background: #c8c6c6;
}

.copyright {
  font-size: 12px;
  margin-top: 2rem;
}
